.App {
  text-align: center;
  background-color: #282c34;
  overflow: hidden;
}

body,
html {
  overflow: visible !important;
}

@font-face {
  font-family: "CustomFont";
  src: local("CustomFont"), url(./Hack-BoldOblique.ttf) format("truetype");
}

.custom-font > input {
  font-family: "CustomFont" !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
